<!DOCTYPE html>

<body>
<fieldset>
  <legend>Submit your python code!</legend>
  <form method="post">
    <div>Code:</div>
    <textarea name="code" rows="25" cols="80" placeholder="Enter your code here...">{{.Code}}</textarea>
    <div>Standard input:</div>
    <textarea name="stdin" rows="10" cols="80" placeholder="Enter the input for your program...">{{.StdIn}}</textarea>
    <div><input type="submit" name="submit" value="Run program"></div>
  </form>
</fieldset>
<fieldset>
  <legend>Program output</legend>
  <textarea name="output" rows="25" cols="80">{{.Output}}</textarea>
</fieldset>
</body>
